@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @if (User.Identity.IsAuthenticated)
    {
        var twofactor = ViewData["TwoFactorEnabled"];
        if (twofactor != null && twofactor.ToString().ToLower() == "true")
        {
            <a asp-action="RemoveTwoFactorAuthentication" asp-controller="Account" class="btn btn-warning">Reset & Remove Two Factor Auth</a>
        }
        else
        {
            <a asp-action="EnableAuthenticator" asp-controller="Account" class="btn btn-primary">Setup Two Factor Auth</a>
        }
    }


    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole(nameof(RoleEnum.Admin)))
        {
            <h3>Your Role is - Admin</h3>
        }
        else
        {
            <h3>Your Role is - User</h3>
        }
    }
    

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
