@model LoginVM

<partial name="_FlashMessage"/>

<h1 class="text-center my-3">Login Form</h1>

<div class="row justify-content-center">
    <div class="col-sm-8 p-4 shadow-lg rounded">
        <form method="post" asp-route-returnUrl="@ViewData["ReturnUrl"]">
            <p class="text-center">Create a new account</p>
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="mb-3">
                <label class="form-label" asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
            </div>

            <div class="mb-3 form-check">
                <input asp-for="RememberMe" class="form-check-input">
                <label class="form-check-label" asp-for="RememberMe"></label>
            </div>

            
            <button class="btn btn-primary mt-4 px-4">Login</button>
        </form>

        <p class="mt-4">Don't have an account?<a asp-controller="Account" asp-action="Register" asp-route-returnUrl="@ViewData["ReturnUrl"]"> Register</a></p>
        <p class="mt-4"><a asp-controller="Account" asp-action="ForgotPassword">Forgot Password</a></p>

    </div>
</div>